name: Lint

on:
  pull_request: {}
  merge_group: { types: [checks_requested] }

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1.10.1
        with:
          toolchain: nightly
          components: rustfmt

      - name: Rustfmt Check
        run: cargo fmt --all -- --check

  clippy:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions-rust-lang/setup-rust-toolchain@v1.10.1
        with: { components: clippy }

      - uses: giraffate/clippy-action@v1.0.1
        with:
          reporter: 'github-pr-check'
          github_token: ${{ secrets.GITHUB_TOKEN }}
          clippy_flags: --workspace --all-features --tests --examples --bins -- -Dclippy::todo -Aunknown_lints

  check-external-types:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust (nightly-2023-10-10)
        uses: actions-rust-lang/setup-rust-toolchain@v1.10.1
        with:
          toolchain: nightly-2023-10-10

      - name: Install just
        uses: taiki-e/install-action@v2.44.26
        with:
          tool: just

      - name: Install cargo-check-external-types
        uses: taiki-e/cache-cargo-install-action@v2.0.1
        with:
          tool: cargo-check-external-types@0.1.10

      - name: check external types
        run: just check-external-types-all +nightly-2023-10-10
