name: Upload documentation

on:
  push: { branches: [master] }

permissions:
  contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    permissions:
      contents: write

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions-rust-lang/setup-rust-toolchain@v1
        with: { toolchain: nightly }

      - name: Build Docs
        run: cargo doc --workspace --all-features --no-deps

      - name: Tweak HTML
        run: echo '<meta http-equiv="refresh" content="0;url=actix_server/index.html">' > target/doc/index.html

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          folder: target/doc
